.filters {
  	position: absolute;
  	left: 0;
  	background: #f2f2f2;
  	width: 180px;
  	padding: 15px;
    height: 100%;
  }

.show {
   float: left;
   position: relative;
   margin-left: 150px;
   margin-top: 100px;
}

.img {
	height: 100px; 
	width: 150px;
}