<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<h1 id = "logo"><a href="" class = "navbar-header" calss= "active" ng-click="reset()" />getCar </h1>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li> <a></a></li>
			<li><a href="" ng-hide= "$ctrl.loog" ng-click="log()">LOG IN</a></li>
			<li><a href="" ng-hide = "$ctrl.loog" ng-click = "sign()">SIGN UP</a></li>
			<li><a href="" ng-show = "$ctrl.loog" ng-click = "add()" >ADD CAR </a></li>
			<li><a href="" ng-click="acc()"> Car Accessories </a></li>
			<li><a href="" ng-show = "$ctrl.loog" ng-click="$ctrl.out()">LOG OUT</a> </li>
			<li><a href="" ng-click = "abot()">ABOUT US</a></li>
			<li><a href="client/templates/chat.html"> Chat</a></li>
		</ul>
	</div>
</nav>