<!-- <div id="header-wrapper">
	<div id="header" class="container">
		<h1 id = "logo"><a ng-click="reset()" /><button>getCar </button></h1>
		<div id="menu">
			<a  ng-hide= "$ctrl.loog" ng-model="LogIn" ng-click="log()"><button>Log In</button></a> 
		    <a  ng-hide = "$ctrl.loog" ng-click = "sign()"><button>Sign Up</button></a> 
			<a ng-show = "$ctrl.loog" ng-click = "add()" ><button>Add</button></a> 
			<a href="#" ng-show = "$ctrl.loog" ng-click="$ctrl.out()"><button>Log Out</button></a> 
		</div>
	</div>
</div> -->

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1 id = "logo"><a href="" class = "navbar-header" calss= "active" ng-click="reset()" />getCar </h1>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li> <a></a></li>
    <li><a href="" ng-hide= "$ctrl.loog" ng-click="log()">LogIn</a></li>
	<li><a href="" ng-hide = "$ctrl.loog" ng-click = "sign()">SignUp</a></li>
	<li><a href="" ng-show = "$ctrl.loog" ng-click = "add()" >Add</a></li>
	<li><a href="#" ng-show = "$ctrl.loog" ng-click="$ctrl.out()">Log Out</a> </li>
	<li><a href="" ng-click = "abot()">ABOUT US</a></li>
    </ul>
  </div>
</nav>