<div class = "show" class="container">
  <img ng-src="{{$ctrl.car.image}}" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{$ctrl.car._id}}" style="width: 350px; height: 200px; background-color: white;">
  <br/>

  <div class="modal fade" id={{$ctrl.car._id}} role="dialog">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">
           <img ng-src = {{$ctrl.car.image}} style="max-width: 100%;"></img></h4>
         </div>
         <div class="modal-body">
          <p>{{$ctrl.car.type}}
           <br/>
           color: {{$ctrl.car.color}} 
           <br/>
           price: {{$ctrl.car.price}}
           <br/>
           Contact: <br/>
           Name: {{$ctrl.car.username}}
           <br/>
           Number Phone: {{$ctrl.car.phone}}
         </p>

       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>