<html>
<style>
.centered {
    position: absolute;
    top: 20%;
    left:30%;
    /*bottom: 20%*/
    transform: translate(-50%, -50%);
    font-family: "Courier New";
    font-size: 75px;
    color: #ff0000;
    font-style: italic;
    
}
</style>
<div class = "show" class="container">

<div>
  <img ng-src="{{$ctrl.car.image}}" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#{{$ctrl.car._id}}" style="width: 350px; height: 200px; background-color: white;box-shadow: 0 0 25px black;border-style: ridge;border-width: 5px;border-color: #9999ff;; background-color: white;">
  <div class="centered">{{$ctrl.car.option}}</div>
    <input type="text" name="username" ng-model="username">

    <input type="text" name="comment" ng-model="comment">

  <button ng-click="addCommentbtn($ctrl.car._id)">Add comment</button>


  </div>
  <div ng-repeat="comment in $ctrl.car.comment">
  <div>{{comment.username}}:{{comment.newComment}}</div>
  
  </div>
  <br/>
  <button type="button" ng-click="deleteCar($ctrl.car._id)">Remove</button>

  <div class="modal fade" id={{$ctrl.car._id}} role="dialog">
    <div class="modal-dialog">
      
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"></button>
          <h4 class="modal-title">
           <img ng-src = {{$ctrl.car.image}} style="max-width: 100%;"></img></h4>
         </div>
         <div class="modal-body">
          <dt>name: {{$ctrl.car.type}}</dt>
           <br/>
          <dt> color: {{$ctrl.car.color}}</dt> 
           <br/>
          <dt> price: {{$ctrl.car.price}}</dt>
           <br/>
           <dt>Name: {{$ctrl.car.username}}</dt>
           <br/>
           <dt>Phone Number: {{$ctrl.car.phone}}</dt>
         </p>

       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>